<!DOCTYPE html>
<html>
  <style>
    header
    {
      text-align: center;
      margin-top: 60px;
    }

    .volver
    {
      text-align: center;
      font-size: 25px;
      margin-top: 20px;
    }
  </style>
  
  <head>
    <title>Ayuda</title>
  </head>

  <body>
    <header>
      <h1>Acerca de...</h1>
    </header>

    <article>
      <section>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit rhoncus varius ante, facilisis cursus auctor inceptos vel eleifend tincidunt lacinia sollicitudin, porttitor vitae nulla diam aliquet velit odio mi vestibulum. Volutpat rutrum erat neque tincidunt diam ridiculus aliquet interdum praesent eu, non mi donec ligula placerat quis est lacus nibh, dui lectus sagittis tempor per eget etiam viverra fermentum. Tristique ultricies pulvinar ullamcorper penatibus vulputate per sapien, sed netus sagittis nullam consequat posuere urna non, placerat scelerisque varius quam himenaeos pretium.</p>

        <p>Ultrices turpis mus mattis nisl a aenean per, pellentesque scelerisque ridiculus tempus gravida sollicitudin lacus placerat, eleifend faucibus pulvinar euismod non habitant. Dapibus eget mollis integer cras ridiculus aliquam nostra parturient lacus, quisque turpis augue cum magnis potenti accumsan nam ornare scelerisque, imperdiet curabitur est porttitor natoque curae ullamcorper commodo. Ante aenean montes tortor nibh sodales interdum aliquam phasellus vitae id morbi platea imperdiet litora, ac volutpat viverra conubia lacinia commodo dapibus mus facilisis torquent luctus lobortis.</p>

        <p>Ridiculus aliquam montes aenean convallis purus bibendum leo condimentum justo, orci hendrerit porta mi blandit sodales nam mauris nulla, natoque suscipit vehicula tempor nostra duis tellus rhoncus. Rhoncus mattis enim at tincidunt himenaeos metus quisque erat nulla aenean convallis, habitant vulputate sed sociis cum malesuada integer lacus urna nostra parturient, conubia felis accumsan suscipit nullam auctor torquent magnis varius potenti. Vehicula ut nibh integer neque penatibus ridiculus magnis risus vel aenean, nascetur cum nostra quis hac vestibulum bibendum placerat.</p>

        <p>In per urna fermentum duis maecenas diam pulvinar est, congue nulla porta velit senectus ultrices tempor nullam, curae phasellus mollis donec pellentesque varius metus. Pulvinar aliquam augue phasellus justo magna vestibulum donec faucibus, integer dapibus nulla lobortis lectus eros nullam, imperdiet tortor scelerisque nam tincidunt diam nisi. Nunc arcu tempus nascetur mollis blandit duis litora penatibus, pellentesque ullamcorper dictumst aptent enim sollicitudin fringilla interdum, leo eros fermentum orci dignissim vehicula sociosqu. Nunc sodales mi habitant suscipit ullamcorper nibh aliquam maecenas varius ridiculus duis, sem erat porttitor feugiat ultrices mauris potenti cubilia leo magnis ut, eros cum sociis fringilla pulvinar nisi faucibus nam eu vehicula.</p>
      </section>
      <section class="volver">
        <a href="https://actividad-4-ejercicio-2-grupo-1.bono-ezequielez.repl.co/">VOLVER</a>
      </section>
    </article>
      
  </body>
</html>