<!DOCTYPE html>
<html>
  <style>
    header
    {
      text-align: center;
      margin-top: 60px;
    }

    .tabla
    {
      display: flex;
      justify-content: space-evenly;
      margin-top: 120px;
    }
    
    th, td 
    {
      border: 1px solid black;
      text-align: center;
      padding: 10px;
    }

    .volver
    {
      text-align: center;
      font-size: 25px;
      margin-top: 20px;
    }
  </style>

  <head>
    <title>Per cápita</title>
  </head>

  <body>
    <header>
      <h1>Emisiones estimadas de CO2 per cápita</h1>
    </header>

    <article>
      <section class="tabla">
        <table>
          <th colspan="3"><h3>TOP 10 Países con mayor Valor de CO2 per cápita regitrados</h3></th>
          <tr>
            <th>País</th>
            <th>Valor</th>
            <th>Año en el que se registró el valor</th>
          </tr>
          <tr>
            <td>{{listaPaises[0][0]}}</td>
            <td>{{listaPaises[0][1]}}</td>
            <td>{{listaPaises[0][2]}}</td>
          </tr>
          <tr>
            <td>{{listaPaises[1][0]}}</td>
            <td>{{listaPaises[1][1]}}</td>
            <td>{{listaPaises[1][2]}}</td>
          </tr>
          <tr>
            <td>{{listaPaises[2][0]}}</td>
            <td>{{listaPaises[2][1]}}</td>
            <td>{{listaPaises[2][2]}}</td>
          </tr>
          <tr>
            <td>{{listaPaises[3][0]}}</td>
            <td>{{listaPaises[3][1]}}</td>
            <td>{{listaPaises[3][2]}}</td>
          </tr>
          <tr>
            <td>{{listaPaises[4][0]}}</td>
            <td>{{listaPaises[4][1]}}</td>
            <td>{{listaPaises[4][2]}}</td>
          </tr>
          <tr>
            <td>{{listaPaises[5][0]}}</td>
            <td>{{listaPaises[5][1]}}</td>
            <td>{{listaPaises[5][2]}}</td>
          </tr>
          <tr>
            <td>{{listaPaises[6][0]}}</td>
            <td>{{listaPaises[6][1]}}</td>
            <td>{{listaPaises[6][2]}}</td>
          </tr>
          <tr>
            <td>{{listaPaises[7][0]}}</td>
            <td>{{listaPaises[7][1]}}</td>
            <td>{{listaPaises[7][2]}}</td>
          </tr>
          <tr>
            <td>{{listaPaises[8][0]}}</td>
            <td>{{listaPaises[8][1]}}</td>
            <td>{{listaPaises[8][2]}}</td>
          </tr>
          <tr>
            <td>{{listaPaises[9][0]}}</td>
            <td>{{listaPaises[9][1]}}</td>
            <td>{{listaPaises[9][2]}}</td>
          </tr>
        </table>
        <table>
          <th colspan="3"><h3>TOP 10 Valores de CO2 per cápita más altos regitrados</h3></th>
          <tr>
            <th>País</th>
            <th>Valor</th>
            <th>Año en el que se registró el valor</th>
          </tr>
          <tr>
            <td>{{listaValores[0][0]}}</td>
            <td>{{listaValores[0][1]}}</td>
            <td>{{listaValores[0][2]}}</td>
          </tr>
          <tr>
            <td>{{listaValores[1][0]}}</td>
            <td>{{listaValores[1][1]}}</td>
            <td>{{listaValores[1][2]}}</td>
          </tr>
          <tr>
            <td>{{listaValores[2][0]}}</td>
            <td>{{listaValores[2][1]}}</td>
            <td>{{listaValores[2][2]}}</td>
          </tr>
          <tr>
            <td>{{listaValores[3][0]}}</td>
            <td>{{listaValores[3][1]}}</td>
            <td>{{listaValores[3][2]}}</td>
          </tr>
          <tr>
            <td>{{listaValores[4][0]}}</td>
            <td>{{listaValores[4][1]}}</td>
            <td>{{listaValores[4][2]}}</td>
          </tr>
          <tr>
            <td>{{listaValores[5][0]}}</td>
            <td>{{listaValores[5][1]}}</td>
            <td>{{listaValores[5][2]}}</td>
          </tr>
          <tr>
            <td>{{listaValores[6][0]}}</td>
            <td>{{listaValores[6][1]}}</td>
            <td>{{listaValores[6][2]}}</td>
          </tr>
          <tr>
            <td>{{listaValores[7][0]}}</td>
            <td>{{listaValores[7][1]}}</td>
            <td>{{listaValores[7][2]}}</td>
          </tr>
          <tr>
            <td>{{listaValores[8][0]}}</td>
            <td>{{listaValores[8][1]}}</td>
            <td>{{listaValores[8][2]}}</td>
          </tr>
          <tr>
            <td>{{listaValores[9][0]}}</td>
            <td>{{listaValores[9][1]}}</td>
            <td>{{listaValores[9][2]}}</td>
          </tr>
        </table>
      </section>
      <section class="volver">
        <a href="https://actividad-4-ejercicio-2-grupo-1.bono-ezequielez.repl.co/">VOLVER</a>
      </section>
    </article>
      
  </body>
</html>