<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
  </head>

  <body>
    <header>
        <h1>Actividad 4 - Ejercicio 1 - Inicio</h1>
    </header>

    <article>
      <section>
        <p>Agregar al final de la url de esta página lo siguiente para obtener diferentes resultados: </p>
        <ul>
          <li>'/dado' => Genera un número aleatorio entre 1 y 6</li>
          <li>'/dado/<b>n</b>' => Genera <b>n</b> números aleatorios entre 1 y 6 (<b>n</b> debe ser un numero entero positivo y menor a 10 ingresado por el usuario)</li>
          <li>'/fecha' => Genera una fecha aleatoria entre el 01/01/1980 y 31/12/2100</li>
          <li>'/fecha/<b>y</b>' => Genera una fecha aleatoria entre el 01/01/<b>y</b> y 31/12/<b>y</b> (<b>y</b> debe ser un número entero positivo ingresado por el usuario)</li>
          <li>'/fecha/<b>y</b>/<b>m</b>' => Genera una fecha aleatoria entre el 01/<b>m</b>/<b>y</b> y 31/<b>m</b>/<b>y</b> (<b>y</b> y <b>m</b> deben ser números enteros positivos ingresados por el usuario)</li>
          <li>'/color' => Genera un color aleatorio entre las siguientes opciones: rojo, azul, verde, amarillo, negro, violeta, naranja o marrón</li>
        </ul>
      </section>
    </article>
  </body>
</html>